
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background:  #000;
  pointer-events: none;
}
.title{
    position: absolute;
    top: 20px;
    left: 50px;
}
.hashtag {
    position: absolute;
    bottom: 37px;
    right: 46px;
}

#particles-js, .draw {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.draw {
    z-index: 2;
}
.cursor-container {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.cursor-container .user {
    transform: translate(-50%, -50%);
}
